{% extends "base.html" %}
{% block content %}
<div class="row mt-3 mb-3 p-3 nadpis">
    <div class="col-sm-12">
        <h2 class="text-center ">Všichni zákazníci</h2>
    </div>
</div>
<div class="row" >
    <table class="table table-bordered bg-warning">
        <thead class="text-center">
            <tr style="color:blue;">
                <th>Jmeno zákazníka</th>
                <th>Email zákazníka</th>
                <th>Operátor</th>
            </tr>
        </thead>
        <tbody>
                {% for customer in prehled_zakazniku %}
                    <tr>
                        <td><a href="{% url 'podrobnosti_zakaznika' customer.pk %}">{{ customer.jmeno }} {{ customer.prijmeni}}</a></td>
                        <td>{{ customer.email}}</td>
                        {% for contract in contracts %}

                            {% if customer.jmeno == contract.zakaznik.jmeno and customer.prijmeni == customer.prijmeni %}
                               <td>{{ contract.operator.nazev }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<p>Počet zákazníků: {{ num_customers }}</p>
{% if perms.zakaznici.add_zakaznik %}
<div class="row mb-3">
    <div class="col-sm-12 text-center">
        <a href="{% url 'zakaznik-create' %}" class="btn btn-success">Nový film</a>
    </div>
</div>
{% endif %}
{% endblock %}